# Simplified build-requirements.txt for the RPi4 Build Phase
# gym is replaced with gymnasium + shimmy for compatibility
gymnasium==0.29.1
#shimmy[gym-v21]
shimmy==1.3.0
pycryptodome
pigpio
gpiozero
requests
PyYAML
scapy
tweepy
file-read-backwards
inky
smbus2
Pillow>=8.1.2
spidev
gast
flask==1.1.2
flask-cors
flask-wtf
dbus-python
toml
python-dateutil
websockets
jinja2==3.0.3
matplotlib
itsdangerous==1.1.0
werkzeug==2.0.0
numpy<2.0.0
rpi-lgpio
#torch>=2.0.1
#torchvision>=0.15.2


#gymnasium==0.29.1
#shimmy==1.3.0
torch==2.1.0a0+git7bcf7da
torchvision==0.16.0
#stable-baselines3==2.1.0
stable-baselines3==1.8.0

rpi_hardware_pwm